
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600&display=swap');
* {
    text-decoration: none;
    list-style: none;
    outline: none;
    margin: 0;
    padding: 0;
  }
  
  html,body {
    width: 100%;
    height: 100%;
    transition: 1s;
  }

  .input._error {
    background-color: #ff7070;
  }

  .wrapper__main-page {
    height: 100%;
    width: 100%;
  }
  
  .container {
    max-width: 1130px;
    padding: 0px 15px;
    margin: 0px auto;
  }
  .ibg {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
  }


  
  .ibg img {
    display: none;
  }
  
  .page {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
  }
  
  .main-screen {
    flex: 1 0 100%;
    position: relative;
  }
  .main-screen__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  .header {
      line-height: 23px;
      position: relative;
      padding-top: 40px;
      height: 100%;
      
      &__wrap {
        justify-content: center;
        align-items: center;
        margin-top: 12%;
        margin-right: 2%;
        padding: 0px 10px;
      }
      &__container {
        width: 75%;
        display: flex;
        justify-content: space-between;
        margin-right: auto;
        margin-left: auto;
        @media(max-width: 1015px) {
          width: 80%;
        }
        @media(max-width: 920px) {
          width: 85%;
        }
        @media(max-width: 845px) {
          width: 93%;
        }
        @media(max-width: 425px) {
          width: 100%;
        }
}
&__list {
    display: flex;
}
&__link {
padding: 0px 20px;
color: #ffffff;
font-size: 15px;
font-weight: 400;
line-height: 24px;
font-family: 'Montserrat';
}
&__logo {
    justify-content: flex-start;
    @media(max-width: 425px) {
      padding-left: 15px;
    }
}
&__title {
    color: #ffffff;
    font-family: 'Montserrat';
    font-size: 48px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 50px;
    width: 100%;
    text-align: center;
    @media(max-width:517px) {
        font-size: 40px;
    }
    @media(max-width:345px) {
        font-size: 35px;
    }
    @media(max-width:223px) {
        font-size: 30px;
    }
    @media(max-width:185px) {
        font-size: 23px;
    }
}
&__subtitle {
    color: #ffffff;
    font-family: "Roboto Slab";
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    padding: 30px 0px;
    margin: 0 auto;
    text-align: center;
    max-width: 800px;
    @media(max-width: 560px) {
      font-size: 18px;
    }
    @media(max-width: 560px) {
      font-size: 18px;
    }
    @media(max-width:345px) {
        font-size: 15px;
    }
}
&__button {
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
}
&__btn {
    border: 2px solid #fff;
    border-radius: 5px;
    width: 30%;
    height: 69px;
    font-size: 16px;
    background-color: transparent;
    outline: none;
    color: #fff;
    font-family: 'Montserrat';
    cursor: pointer;
    @media(max-width: 260px) {
      font-size: 13px;
    }
    @media(max-width: 260px) {
      font-size: 11px;
    }
}
}

.btnscale {
  transition: 0.6s all ease;
}

.btnscale:hover {
  transform: scale(1.1);
  transition: 0.8s all ease;
  box-shadow: 20px 20px 100px 20px rgba(0, 0, 0, .5);
}

.link.active {
  color: #ff7070;
}
.link {
  transition: 0.1s;
}
.link:hover {
  color: #ff7070;
  transition: 0.2s;
}

@media(max-width: 768px) {
    .header__menu {
        position: fixed;
        width: 100%;
        height: 100%;
        top: -102%;
        left: 0;
        background-color: #4d4959;
        overflow: auto;
        transition: 1s;
        z-index: 100;
      }
      .header__list {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 150px 0px 0px 0px;
      }
      .header__link {
        color: #fff;
        padding: 0 0 35px 0;
        font-size: 20px;
      }
      .header__link:nth-child(2),
      .header__link:nth-child(3) {
        padding: 0 0 35px 0;
      }
    
      .header__burger {
        display: block;
        position: relative;
        margin-right: 20px;
        width: 30px;
        height: 20px;
        z-index: 10;
      }
    .header__burger span {
      position: absolute;
      background-color: #fff;
      left: 0;
      width: 100%;
      height: 2px;
      top: 9px;
    }
    .header__burger:before,
    .header__burger:after {
      content: '';
      position: absolute;
      background-color: #fff;
      width: 100%;
      height: 2px;
      left: 0;
      transition: 0.3s;
    }

    
    .header__burger.active {
      display: block;
      width: 30px;
      height: 20px;
      z-index: 101;
    } 
    
    .header__burger::before {
      top: 0;
    }
    .header__burger::after {
      bottom: 0;
    }
    
    .header__burger.active span {
    transform: scale(0);
    }
    .header__burger.active:before {
    transform: rotate(45deg);
    top: 9px;
    }
    .header__burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
    }
    .header__menu.active {
    top: 0;
    transition: 0.7s;
    }

}

.line {
  width: 50px;
  height: 2px;
  background-color: #555555;
  margin: 0 auto;
}

.services {
  &__body {
    padding: 50px 0px;
  }
  &__title {
    text-align: center;
    color: #555555;
    font-family: 'Montserrat';
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    padding-bottom: 30px;
  }
  &__subtitle {
    padding-top: 30px;
    padding: 40px 20px;
    text-align: center;
    color: #555555;
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }
  &__row {
    text-align: center;
    display: flex;
    justify-content: center;
    @media(max-width: 540px) {
      flex-direction: column;
    }
  }
  @media(max-width: 540px) {
    .services__col__subtitle {
    padding: 0px 10px;
    }
  }
  &__col {
    flex: 0 1 25%;
    padding: 0px 20px;
    @media(max-width: 540px) {
      padding: 40px 20px;
    }
    &__title {
    color: #555555;
    font-family: 'Montserrat';
    font-size: 14px;
    text-align: center;
    padding: 20px 0px;
    }
    &__subtitle {
      color: #555555;
      font-family: "Roboto Slab";
      font-size: 14px;
    }
    }
  }


.about {
  &__body {
    background-color: #f8f8f8;
    padding: 45px 0px;
  }
  &__title {
    padding: 20px 0px;
    text-align: center;
    color: #555555;
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
  }
  &__subtitle {
    padding: 20px 0px;
    text-align: center;
    color: #555555;
    font-family: "Roboto Slab";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    width: 100%;
    height: 100%;
  }

  &__description {
    flex: 0 1 35%;
    padding: 20px 20px;
    color: #555555;
    font-family: "Roboto Slab";
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    &__line {
      @media(max-width: 540px) {
      width: 50px;
      height: 2px;
      background-color: #ff7070;
      margin: 0 auto;
      }
    }
   &__row {
     display: flex;
     justify-content: center;
     @media(max-width: 540px) {
       flex-direction: column;
       text-align: center;
     }
   } 
  }
}

.item {
  display: block;
  position: relative;
  height: 100%;
}

.item__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.slider {
  position: relative;
  background-color: #f7f7f7;
    padding: 60px 0px;
  &__members {
    position: relative;
      z-index: 1;
      width: auto;
      height: auto;
      height: 400px;
  }
  &__item {
    flex: 0 1 20%;
    padding: 0px 0px 0px 20px;
    text-align: center;
    height: 100%;
  }
  &__item:first-child {
    padding: 0px;
    margin: 0px;
  }
  &__item:last-child {
    padding: 0px;
  }
  
  &__image {
    height: 250px;
  }
}
.slider__item {
  text-align: center;
}

  .slider__body  {
      position: relative;
      z-index: 1;
      width: auto;
      height: auto;
  }

.slick-list {
  overflow: hidden;
}


.slick-track {
  display: flex;
}


.slider .slick-dots {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-left: 0;
  margin-right: 30px;
  @media(max-width: 320px) {
    flex-wrap: wrap;
  }
}

.slider .slick-dots li {
  list-style: none;
  margin: 0 10px;
}

.slider .slick-dots li.slick-active {
  background-color: transparent;
}

.slider .slick-dots li button {
  font-size: 0;
  width: 18px;
  height: 19px;
  border-radius: 50%;
  outline: none;
  border: 1px solid #c2c2c2;
  
}

.slider .slick-dots li.slick-active button {
  border: 1px solid #c2c2c2;
  outline: none;
  background-color: #e27043;
}
.works__title {
  padding: 25px 0px;
  color: #555555;
  font-family: 'Montserrat';
  font-size: 20px;
  font-style: normal;
  letter-spacing: normal;
  line-height: 24px;
  text-align: center;
  font-weight: 500;
}


.icons__row {
  display: flex;
  justify-content: center;
  width: 100%;
}

.icon-item {
  display: flex;
  justify-content: center;
  background-color: #e27043;
  position: absolute;
  z-index: 100;
  margin: 0px 30px;
}

.works__row {
  display: flex;
  justify-content: center;
}

@media(max-width: 650px) {
  .works__row {
    flex-direction: column;
  }
  .works__image {
    min-height: 400px;
    @media(max-width: 400px) {
      min-height: 300px;
    }
    @media(max-width: 300px) {
      min-height: 250px;
    }
    @media(max-width: 200px) {
      min-height: 150px;
    }
  }
}

.works__image {
  height: 400px;
  @media(max-width: 1250px) {
    height: 300px;
  }
  @media(max-width: 995px) {
    height: 250px;
  }
  @media(max-width: 995px) {
    height: 200px;
  }
}

.works__img {
  height: 400px;
}

.works-wrap {
  text-align: center;
}

.slick-list {
  overflow: hidden;
}
@media(max-width: 850px) {
  .works__column {
    flex-direction: column;
  }
}

.works__item {
    flex: 0 1 33.333%;
    text-align: center;
    height: 100%;
}

.works__img {
  margin: 0px 30px;
  @media(max-width: 1200px) {
    margin: 0px 20px;
  }
  @media(max-width: 1000px) {
    margin: 0px 10px;
  }
}


.tabs__items {
  padding: 30px 0px;
}

.tabs__items {
  text-align: center;
}

.tab__item {
  color: #555555;
  padding: 0px 10px;
  line-height: 50px;
  font-family: 'Montserrat';
  font-weight: 500;
}

.tab__item.active {
  color: #c0301c;
}


.item__logo {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  background-color: rgba(192, 48, 28, 0.5);;
  /*background-color: rgba(85, 85, 85, 0.6); */
  opacity: 0;
  flex-direction: column;
}

.item__logoslide {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  background-color: rgba(85, 85, 85, 0.6);
  opacity: 0;
  flex-direction: column;
}

.item__logoslide:hover {
  opacity: 1;
  visibility: visible;
}

.item__logo:hover {
  opacity: 1;
  visibility: visible;
}

.project {
  &__body {
    padding: 100px 0px;
  }
  &__title {
    color: #ffffff;
    text-align: center;
    font-family: "Roboto Slab";
    font-size: 30px;
    line-height: 44px;
    padding-top: 99px;
    padding-bottom: 53px;
    padding-left: 20px;
    padding-right: 20px;
  }
  &__button {
    display: flex;
    padding-bottom: 99px;
  }
}

.btn {
    border: 2px solid #fff;
    border-radius: 5px;
    width: 30%;
    height: 69px;
    font-size: 16px;
    background-color: transparent;
    outline: none;
    color: #fff;
    font-family: 'Montserrat';
    cursor: pointer;
    margin: 0 auto;
    @media(max-width: 260px) {
      font-size: 13px;
    }
    @media(max-width: 260px) {
      font-size: 11px;
    }
}

.posts {
  &__description {
    color: #555555;
    font-family: "Roboto Slab";
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 24px;
    text-align: justify;
    padding-top: 30px;
    max-width: 700px;
    @media(max-width: 1000px) {
      max-width: 400px;
    }
    @media(max-width: 900px) {
      max-width: 350px;
    }
    @media(max-width: 767px) {
      max-width: auto;
    }
  }
  &__content {
    padding: 0px 20px;
    text-align: justify;
    @media(max-width: 767px) {
      margin: 0 auto;
      max-width: auto;
    }
  }
  &__date {
    border: 2px solid #555555;
    color: #777777;
    padding: 25px 20px;
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    font-size: 24px;
    letter-spacing: 2.4px;
    transition: 0.3s all ease;
    @media(max-width: 180px) {
      padding: 10px 10px;
      font-size: 13px;
    }
    &:hover {
      border: 2px solid #5a945f;
      color: #a35414;
      transition: 0.4s all ease;
    }
    &-wrap {
      @media(max-width: 767px) {
        padding-top: 30px;
      }
      @media(max-width: 295px) {
        flex-direction: column;
      }
    }
  }
  &__title {
    text-align: center;
    color: #555555;
    font-family: 'Montserrat';
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
    @media(max-width: 175px) {
      font-size: 14px;
    }
  }
  &__titlesec {
    color: #c0301c;
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    padding-left: 30px;
    @media(max-width: 295px) {
      padding: 0;
    }
    @media(max-width: 175px) {
      font-size: 14px;
    }
  }
  &__line-wrap {
    padding: 29px 0px;
  }
  &__subtitlesec {
    text-align: center;
    font-family: "Roboto Slab";
    font-size: 13px;
    font-weight: 400;
    padding-bottom: 30px;
    padding: 15px;
  }
  &__subtitlesec {
    color: #777777;
    font-family: "Montserrat";
    font-size: 15px;
    font-weight: 400;
    font-style: italic;
    letter-spacing: normal;
    line-height: 24px;
    text-align: center;
    span {
      color: #c0301c;
    }
  }
  &__row {
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px 20px;
    @media(max-width:767px) {
      padding: 0px;
    }
  }
  &__col {
    display: flex;
    justify-content: space-between;
    @media(max-width: 767px) {
      flex-direction: column;
    }
  }
  &__img {
    flex: 50%;
    @media(max-width: 767px) {
      flex: 1 1 100%;
      padding-top: 300px;
    }
  }
  &__btn {
    padding: 20px 0px;
    @media(max-width: 295px) {
      text-align: center;
    }
    a {
      color: #c0301c;
      font-family: "Roboto Slab";
      font-size: 16px;
      font-weight: 700;
      line-height: 24px;
    }
  }
}
.icov {
  background-size: 100% auto;
  background-repeat: no-repeat;
  position: relative;
}

.title__inner {
  color: #ffffff;
  font-family: 'Montserrat';
  font-size: 20px;
  font-weight: 500;
}

.subtitle__inner {
  color: #ffffff;
  font-family: "Roboto Slab";
  font-size: 14px;
  font-weight: 500;
  padding: 15px 0px;
}

.view__more {
  color: #c0301c;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 14px;
  background-color: #fff;
  padding: 15px 20px;
  border-radius: 10px;
}

.posts__date-wrap {
  display: flex;
  align-items: center;
}

.slider__item {
  flex: 0 1 20%;
  padding: 0px 0px 40px 20px;
  text-align: center;
  height: 100%;
}
.slider__item:first-child {
  padding: 0px;
  margin: 0px;
}
.slider__item:last-child {
  padding: 0px;
}
.slider__image {
  height: 250px;
}

.slider__item {
  text-align: center;
}

.slider__brands__body {
  position: relative;
  z-index: 1;
  width: auto;
  height: auto;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: flex;
}

.slider__bodysec .slick-dots {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-left: 0;
  margin-right: 30px;
}

.slider__bodysec .slick-dots li {
  list-style: none;
  margin: 0 10px;
}

.slider__bodysec .slick-dots li.slick-active {
  background-color: transparent;
}

.slider__bodysec .slick-dots li button {
  font-size: 0;
  width: 18px;
  height: 19px;
  border-radius: 50%;
  outline: none;
  border: 1px solid #c2c2c2;
}

.slider__bodysec .slick-dots li.slick-active button {
  border: 1px solid #c2c2c2;
  outline: none;
  background-color: #c0301c;
}

.slider__icons__col {
  display: flex;
  justify-content: center;
  padding-top: 90px;
  padding-bottom: 70px;
}

.slider__icon {
  width: 100% auto;
  height: 25px;
  padding: 0px 20px;
}

.slidersec {
  padding: 100px 0px;
  text-align: center;
}

.slide__item__description {
  color: #555555;
  font-family: "Roboto Slab";
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
  padding-bottom: 40px;
}

.slide__item__subdescription {
  padding-top: 30px;
  text-align: center;
}

@media(max-width: 718px) {
  .slider__icon {
    width: 60px;
    height: 15px;
    padding: 0px 30px;
  }
  .slide__item__description {
    font-size: 15px;
  }
}

@media(max-width: 750px) {
  .slider__icon {
    width: 55px;
    height: 18px;
    padding: 0px 24px;
  }
}

@media(max-width: 490px) {
  .slider__icon {
    width: 55px;
    height: 15px;
    padding: 0px 10px;
  }
}

@media(max-width: 390px) {
  .slider__icons__col {
    flex-direction: column;
  }
  .slider__icon {
    margin: 0 auto;
    width: 120px;
    height: 30px;
    padding: 10px 0px;
  }
}

.form {
  padding: 15px 30px;
  &__subtitle {
    color: #555555;
    font-family: "Roboto Slab";
    font-size: 16px;
    text-align: center;
  }
  &__line {
    &-wrap {
      padding: 20px 0px;
    }
  }
}

.base {
  display: flex;
  align-items: baseline;
}



.info {
  &__img {
    padding-top: 5px;
    padding-right: 10px;
  }
  &__title {
    color: #555555;
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
  }
  &__subtitle {
    max-width: 205px;
    padding: 10px 0px;
    margin-right: 10px;
    color: #7a6969;
    font-family: "Roboto Slab";
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 20px;
    text-align: left;
  }
}

.input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  transition: 0.2s all ease;
}

.input:focus {
  box-shadow: 0px 0px 15px #ccc;
  transition: 0.2s all ease;
}

.textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  transition: 0.2s all ease;
}

.textarea:focus {
  box-shadow: 0px 0px 15px #ccc;
  transition: 0.2s all ease;
}


.column__small {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.column__big {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width: 690px) {
  .column__small, .column__big {
      width: 100%;
      margin-top: 0;
  }
  .info__subtitle {
    display: flex;
    justify-content: center;
  }
  .form__button {
    text-align: center;
    margin: 0 auto;
  }
}

.form__button {
  background: none;
  border: 0;
  box-sizing: border-box;
  margin: 1em;
  padding: 1em 2em;
  box-shadow: inset 0 0 0 2px #555555;
  border-radius: 5px;
  font-weight: 500;
  position: relative;
  vertical-align: middle;
  margin-left: 25%;
  cursor: pointer;
  text-align: center;
  &::before,
  &::after {
    box-sizing: inherit;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
  }
  @media(max-width: 240px) {
    padding: 5px 5px;
    font-size: 12px;
  }
}

.form__button {
    transition: color 0.25s;
  &::before,
  &::after {
    border: 3px solid transparent;
    width: 0;
    height: 0;
  }
  &::before {
    top: 0;
    left: 0;
  }
  &:hover {
    color: #c0301c;
  }
  &::after {
    bottom: 0;
    right: 0;
  }
  &:hover::before,
  &:hover::after {
    width: 100%;
    height: 100%;
    border-radius: 3px;
  }
  &:hover::before {
    border-top-color: #f45e61;
    border-right-color: #f45e61;
    transition:
      width 0.25s ease-out,
      height 0.25s ease-out 0.25s;
  }
  &:hover::after {
    border-bottom-color: #f45e61;
    border-left-color: #f45e61;
    transition:
      border-color 0s ease-out 0.5s,
      width 0.25s ease-out 0.5s,
      height 0.25s ease-out 0.75s;
  }
}

.footer {
  padding-top: 130px;
  &__body {
    width: 100%;
    background-color: #c0301c;
  }
  &__content {
    padding: 100px 0px;
  }
  &__icons__row {
    display: flex;
    justify-content: center;
    padding: 10px 0px;
    flex-wrap: wrap;
  }
  &__icon__item {
    padding: 0px 7px;
  }
  &__line {
    width: 50px;
    height: 2px;
    background-color: #ffffff;
    &-wrap {
      padding: 10px 0px;
      display: flex;
      justify-content: center;
    }
  }
  &__description {
    color: #ffffff;
    font-family: "Montserrat";
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    text-align: center;
  }
}

.anchor {
  display: flex;
  outline: none;
  cursor: pointer;
  justify-content: center;
  padding: 10px 15px;
  background-color: transparent;
}
